@import "../../styles/customMediaQueries.css";
@import "../../styles/propertySets.css";

.pageTitle {
  margin-top: 8%;
  text-align: left;
}

.pageSubtitle {
  text-align: left;
  margin-top: 0%;
  font-size: 1.3em;
}

.ctaButton {
  width: 25%;
  text-decoration: none;
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 1056px;
  margin: 24px auto;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
  }
}

.photos {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}

.photoone {
  height: 200px;
  width: 300px;
  margin: 0;
}

.photoone:first-of-type {
  margin-right: 20px;
}

.photoone:last-of-type {
  margin-left: 20px;
}

.photoexample {
  width: 100%;
}

.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 90%;

  @media (--viewportMedium) {
    max-width: 650px;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}

.contentSubtitle {
  margin-bottom: 0px;
}

.contentTitle {
  margin-top: 20px;
  font-size: 32px;
}

.contentBoxes {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  margin-right: 20%;
}

.contentParagraph {
}

.pricingHeader {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}
